Q1. What is a database? Differentiate between SQL and NoSQL databases.
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Q4. What is DQL? Explain SELECT with an example.
Q5. Explain Primary Key and Foreign Key.
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Q7. Give the order of execution of SQL clauses in an SQL query.

In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
'''A database is a structured collection of data that is organized in a way that
allows for efficient retrieval, storage, and manipulation of information.
It is designed to store large amounts of data in a way that can be easily accessed,
managed, and updated.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of databases that
differ in their architecture, data storage, and query languages.
SQL databases use a structured, table-based approach to data storage,
while NoSQL databases use a flexible, document-based approach.
SQL databases use SQL as their primary query language,
while NoSQL databases use various query languages.
SQL databases are good for structured data,
while NoSQL databases are better for unstructured or semi-structured data.
'''

'A database is a structured collection of data that is organized in a way that\nallows for efficient retrieval, storage, and manipulation of information.\nIt is designed to store large amounts of data in a way that can be easily accessed,\nmanaged, and updated.\n\nSQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of databases that\ndiffer in their architecture, data storage, and query languages.\nSQL databases use a structured, table-based approach to data storage,\nwhile NoSQL databases use a flexible, document-based approach.\nSQL databases use SQL as their primary query language,\nwhile NoSQL databases use various query languages.\nSQL databases are good for structured data,\nwhile NoSQL databases are better for unstructured or semi-structured data.\n'

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example. 
DDL stands for Data Definition Language, which is a set of SQL commands used to define, modify, and delete database objects such as tables, indexes, views, and procedures. The four main commands in DDL are CREATE, DROP, ALTER, and TRUNCATE.

CREATE: The CREATE command is used to create a new database object such as a table, view, index, or stored procedure. Here is an example of how to create a new table in a database:

CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    grade FLOAT
);

DROP: The DROP command is used to delete an existing database object. Here is an example of how to drop a table from a database:

DROP TABLE students;

ALTER: The ALTER command is used to modify an existing database object such as a table, view, or stored procedure. Here is an example of how to add a new column to a table:

ALTER TABLE students ADD COLUMN email VARCHAR(50);

TRUNCATE: The TRUNCATE command is used to remove all the data from a table, but the structure of the table remains intact. Here is an example of how to truncate a table:

TRUNCATE TABLE students;
This SQL statement removes all the data from the "students" table, but the table structure remains the same.

3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML stands for Data Manipulation Language. It is a part of SQL that is used to manipulate the data in the database. There are three main commands that are used in DML: INSERT, UPDATE, and DELETE.

INSERT: The INSERT command is used to add new rows to a table in a database. The syntax for the INSERT command is as follows:

INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

INSERT INTO students (id, name, age)
VALUES (1, 'John', 20);

UPDATE: The UPDATE command is used to modify existing rows in a table. The syntax for the UPDATE command is as follows:

UPDATE students
SET age = 25
WHERE id = 1;

DELETE: The DELETE command is used to remove rows from a table. The syntax for the DELETE command is as follows:

DELETE FROM table_name
WHERE condition;

DELETE FROM students
WHERE id = 1;

4 What is DQL? Explain SELECT with an example.
DQL stands for Data Query Language, which is used to retrieve data from a database. The most commonly used DQL statement is SELECT, which retrieves data from one or more tables based on specified criteria.

The basic syntax of the SELECT statement is as follows:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

SELECT name, salary
FROM employees
WHERE age < 35;

5 Explain Primary Key and Foreign Key.
In a relational database, a primary key is a column or a set of columns that uniquely identifies each record in a table. It is used to ensure that each record in the table is uniquely identifiable and to enforce the integrity of the data by preventing the insertion of duplicate records.

A foreign key, on the other hand, is a column or set of columns in one table that refers to the primary key of another table. It is used to create relationships between tables, and to ensure that the data in one table is consistent with the data in another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.10/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (3.20.3)

In [3]:

import mysql.connector

# Connect to the database
db = mysql.connector.connect(
    user='username',
    password='password',
    host='localhost',
    database='database_name'
)

'''# Get a cursor
cursor = db.cursor()

# Execute a query
cursor.execute("SELECT * FROM table_name")

# Fetch the results
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()
'''

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists db2")
mycursor.execute("CREATE TABLE if not exists  db2.tb2 (c1 INT , c2 VARCHAR(50))")
mycursor.execute("insert into db2.tb2 values(2001 , 'two thousand one')")
mydb.commit()
mydb.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

7 Give the order of execution of SQL clauses in an SQL query.
The order of execution of SQL clauses in an SQL query is as follows:

FROM - specifies the table from which the data will be retrieved.
JOIN - used to combine rows from two or more tables based on a related column between them.
WHERE - used to filter out rows based on a condition.
GROUP BY - used to group rows based on a column.
HAVING - used to filter out groups based on a condition.
SELECT - used to select specific columns to retrieve data.
DISTINCT - used to remove duplicates from the results.
ORDER BY - used to sort the rows in ascending or descending order based on one or more columns.
LIMIT - used to limit the number of rows returned by the query.