Q1. What are the characteristics of the tuples? Is tuple immutable?
Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.
Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.
Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.
Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.
Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learning’, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [1]:
#Q1. What are the characteristics of the tuples? indexed (ordered),immutable(unchangeable), and allow duplicate values
#Is tuple immutable? no

In [2]:
#Q2. What are the two tuple methods in python? Give an example of each method. 
#count() and index() 
t=(1,2,2,2,2,2,3,'x','y','z')
print(t)
print(type(t))
print(t.count(2))
print(t.index(2))
#Give a reason whytuples have only two in-built methods as compared to Lists.
#tuples are immutables. Meaning, you cannot change items of a tuple once it is assigned.but Lists are mutables.

(1, 2, 2, 2, 2, 2, 3, 'x', 'y', 'z')
<class 'tuple'>
5
1

In [3]:
#Q3. Which collection datatypes in python do not allow duplicate items? SET

#Write a code using a set to remove duplicates from the given list.
List1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set1= set(List1)
set1

{1, 2, 3, 4}

In [4]:
#4. Explain the difference between the union() and update() methods for a set. 
#Give an example ofeach method.
#update() adds all missing elements to the set on which it is called whereas set. union() creates a new set. 
s1={1, 2, 3, 4}
s2={'a','b','c',3,4}
print(id(s1))
print(id(s2))

print(s1 | s2)
print(id(s1 | s2)) #new id

s1.update(s2) #update in original set, so same id of s1
print(s1)
print(id(s1))

s2.update(s1) #update in original set, so same id of s2
print(s2)
print(id(s2))

140191431063840
140191431063392
{1, 2, 3, 4, 'a', 'b', 'c'}
140191431064960
{1, 2, 3, 4, 'a', 'b', 'c'}
140191431063840
{1, 2, 3, 'a', 4, 'b', 'c'}
140191431063392

In [5]:
#Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.
d={}
print(type(d))
d={'key':'value',1:'one','two':2}
print(d)
d1={10:1, 45.45:2, 30+50j:3, "hi":4, True:5, ('a',0):6}
for i in d1: #keys
    print(i ,type(i))

<class 'dict'>
{'key': 'value', 1: 'one', 'two': 2}
10 <class 'int'>
45.45 <class 'float'>
(30+50j) <class 'complex'>
hi <class 'str'>
True <class 'bool'>
('a', 0) <class 'tuple'>

In [6]:
d={'key':'value',1:'one','two':2}
d[0]    
'''a dictionary is unordered. '''

KeyError: 0

In [7]:
#Q6. Can we create a nested dictionary? yes
#If so, please give an example by creating a simple one-level nested dictionary.

d={'key':'value',1:'one','two':2}
d1={10:1, 45.45:2, 30+50j:3, "hi":4, True:5, ('a',0):6}
d2={1:d1,0:d}
d2

{1: {10: 1, 45.45: 2, (30+50j): 3, 'hi': 4, True: 5, ('a', 0): 6},
 0: {'key': 'value', 1: 'one', 'two': 2}}

Python Dictionary setdefault() returns the value of a key (if the key is in dictionary). Else, it inserts a key with the default value to the dictionary.

Python Dictionary setdefault() Method Syntax:
Syntax: dict.setdefault(key, default_value)
Parameters: It takes two parameters: 

key – Key to be searched in the dictionary. 
default_value (optional) – Key with a value default_value is inserted to the dictionary if key is not in the dictionary. If not provided, the default_value will be None.
Returns: 

Value of the key if it is in the dictionary. 
None if key is not in the dictionary and default_value is not specified. 
default_value if key is not in the dictionary and default_value is specified.

In [8]:
#Q7. Using setdefault() method, create key named topics in the given dictionary 
#and also add the value of the key as this list
l1=['Python', 'Machine Learning', 'Deep Learning']
d1 = {'language' : 'Python', 'course': 'Data Science Masters'}

print(d1.setdefault('course'))

print(d1.setdefault('teacher'))

print(d1.setdefault('topics',['Machine Learning', 'Deep Learning']))

print(d1)

Data Science Masters
None
['Machine Learning', 'Deep Learning']
{'language': 'Python', 'course': 'Data Science Masters', 'teacher': None, 'topics': ['Machine Learning', 'Deep Learning']}

In [9]:
#Q8. What are the three view objects in dictionaries? 
#Use the three in-built methods in python to display these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])